[project]
	description = test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ng00455391
[access "refs/for/refs/*"]
	read = group user/ng00455391
	push = group user/ng00455391
	label-Code-Review = -2..+2 group user/ng00455391
	label-Verified = -1..+1 group user/ng00455391
	rebase = group user/ng00455391
	removeReviewer = group user/ng00455391
	submit = group user/ng00455391
[access "refs/heads/*"]
	read = group user/ng00455391
	create = group user/ng00455391
	push = +force group user/ng00455391
	pushMerge = group user/ng00455391
[access "refs/tags/*"]
	push = +force group user/ng00455391
	pushTag = group user/ng00455391
	pushSignedTag = group user/ng00455391
